@{
    ViewBag.Title = "Home Page";
}
<h2>Index</h2>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/KoVue/Index">Ko Vs Vue</a>
                A basic performance test with Knockout and Vue
            </div>
            <div class="panel-heading">
                <a href="/KnockoutStrap/Index">KnockStrap</a>
                KnockStrap Implementation
            </div>
            <div class="panel-heading">
                <a href="/Vue/Index">Vue</a>
                Vue List Component
            </div>
            <div class="panel-heading">
                <a href="/React/Pivot">Vue</a>
                React Pivot
            </div>
        </div>
        
    </div>
</div>